body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@font-face {
  font-family: myFont;
  src: url(LOVE-BOX-demo.ttf);
}
.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 500px;
  gap: 14px;
  background-image: linear-gradient(to bottom, #111, #111);
}

.container-1 > h3 {
  font-family: "Arimo";
}
.underline {
  font-size: 30px;
}
.highlight {
  margin-top: 15px;
  display: inline-block;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  font-size: 40px;
}
.highlight .underline {
  position: relative;
  z-index: 1;
}
.highlight .underline::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 0.3rem;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}
.highlight:hover .underline::before {
  transform: scaleX(1);
  transform-origin: left;
}
.glitch {
  word-spacing: 2px;
  font-family: myFont;
  font-size: 100px;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  margin-bottom: 0;
}
.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}
.glitch span:first-child {
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 40%);
  transform: translateX(-2px);
}
.horizontal_line {
  border-bottom: 2px solid black;
  border-radius: 500%;
  width: 55%;
  margin: 0 auto;
}
.container-2 {
  text-align: center;
  padding: 20px;
}
.container-2 h2 {
  font-family: "Arimo", sans-serif;
  font-size: 30px;
  font-weight: 60;
  margin-top: 0;
  margin-bottom: 20px;
}
.container-2 p {
  font-family: "Arimo", sans-serif;
  line-height: 40px;
  font-size: 20px;
  width: 55%;
  margin: auto auto;
}
.container-3 {
  font-family: "Arimo", sans-serif;
  text-align: center;
}
.container-3 p {
  line-height: 2;
  word-spacing: 4px;
}
.inner {
  width: 60%;
  margin: 80px auto;
}
.python-img {
  width: 110px;
  height: 110px;
  margin-right: 20px;
  margin-top: 28px;
  float: left;
}

.python {
  text-align: left;
}

.chip-img {
  width: 110px;
  height: 110px;
  margin-left: 20px;
  margin-top: 28px;
  float: right;
}
.machine-learning {
  text-align: right;
}
.img {
  display: flex;
  flex-wrap: wrap;
}
.other-stuff .img img {
  width: 110px;
  height: 110px;
  margin: 40px 90px;
}
.footer {
  background-color: #111;
  text-align: center;
  height: 200px;
}
.inner-footer {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.links img {
  cursor: pointer;
  display: inline;
  margin: auto 30px;
  height: 30px;
}
.links {
  padding: 40px;
  margin-left: 130px;
}
.about {
  font-family: "Arimo", sans-serif;
  text-align: left;
  line-height: 2;
  color: aliceblue;
}
.about h2 {
  font-weight: 5px;
}
.work_inner {
  display: flex;
  gap: 70px;
  font-family: "Arimo", sans-serif;
}
.topic {
  width: 270px;
  text-align: left;
}
.work_inner a {
  text-decoration: none;
  color: black;
  word-spacing: 2px;
  margin: 0;
}
.about_work {
  width: 100%;
  text-align: left;
}
.about_work_inner {
  display: flex;
  align-items: center;
  gap: 10px;
}
.github_img {
  height: 18px;
}
